AcinoxXML2/XSD/clasifcriterios.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="clasifcriterios">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" nillable="true" name="critelem">
          <xs:complexType>
            <xs:all>

              <xs:element name="id" type="xs:integer"/>                                                     
              
              <xs:element name="cod" >
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="64"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>            
              
              <xs:element name="desc" minOccurs="0" nillable="true">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="255"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              
            </xs:all>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>