AcinoxXML2/XSD/contactos.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="contactos">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" nillable="true" name="contacto">

            <xs:complexType>
              <xs:all>

                <xs:element name="codcliente" minOccurs="1" maxOccurs="1">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:maxLength value="64"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:element>
        
                <xs:element name="codcontacto" minOccurs="1" maxOccurs="1">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:maxLength value="64"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:element>
        
                <xs:element name="nombre" minOccurs="0" nillable="true" maxOccurs="1">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:maxLength value="255"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:element>
                        
                <xs:element name="nif"  minOccurs="0" nillable="true" maxOccurs="1">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:maxLength value="32"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:element>
                
                <xs:element name="tcontacto" type="xs:integer" minOccurs="1" maxOccurs="1" />               
                
                <xs:element name="coddireccion"  minOccurs="0" nillable="true" maxOccurs="1">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:maxLength value="64"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:element>
                
                <xs:element name="tlffijo"  minOccurs="0" nillable="true" maxOccurs="1">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:maxLength value="32"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:element>
				
				<xs:element name="tlfmovil"  minOccurs="0" nillable="true" maxOccurs="1">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:maxLength value="32"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:element>
				
				<xs:element name="fax"  minOccurs="0" nillable="true" maxOccurs="1">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:maxLength value="32"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:element>
				
				<xs:element name="email"  minOccurs="0" nillable="true" maxOccurs="1">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:maxLength value="64"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:element>
				
				<xs:element name="ind1"  minOccurs="0" nillable="true" maxOccurs="1">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:maxLength value="255"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:element>
				
				<xs:element name="ind2"  minOccurs="0" nillable="true" maxOccurs="1">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:maxLength value="255"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:element>
				
				<xs:element name="ind3"  minOccurs="0" nillable="true" maxOccurs="1">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:maxLength value="255"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:element>
                
                
              </xs:all>
            </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>