AcinoxXML2/XSD/partabiertas.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="partabiertas">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" nillable="true" name="part">
          <xs:complexType>
            <xs:all>

              <xs:element name="codcli">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="64"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>

              <xs:element name="ndoc">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="64"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>

              <xs:element name="nvcto" minOccurs="0" nillable="true">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="64"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>


              <xs:element name="fchemi" type="xs:date" />
              <xs:element name="fchvcto" type="xs:date" />
              <xs:element name="importe" type="xs:decimal" />
              <xs:element name="estado" type="xs:unsignedByte" minOccurs="0" nillable="true"/>
              <xs:element name="dotada" type="xs:unsignedByte" minOccurs="0" nillable="true"/>

              <xs:element name="codvp" minOccurs="0" nillable="true">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="64"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              
              <xs:element name="codcondp" minOccurs="0" nillable="true">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="64"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              
              <xs:element name="codmondoc" minOccurs="0" nillable="true">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="32"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              
              <xs:element name="impmondoc" minOccurs="0" nillable="true">
				<xs:simpleType>
					<xs:union>
						<xs:simpleType>
							<xs:restriction base="xs:decimal"/>        
						</xs:simpleType>            
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:whiteSpace value="collapse" />
								<xs:length value="0" />
							</xs:restriction>        
						</xs:simpleType>            
					</xs:union>
				</xs:simpleType>
			  </xs:element>

              <xs:element name="ind1" minOccurs="0" nillable="true">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="64"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              
              <xs:element name="ind2" minOccurs="0" nillable="true">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="64"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              
              <xs:element name="ind3" minOccurs="0" nillable="true">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="64"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              
              <xs:element name="tdoc">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="32"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              
              <xs:element name="campoid">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="255"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              
              <xs:element name="codejercicio" minOccurs="0" nillable="true">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="10"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            
			  <xs:element name="numdocorigen" minOccurs="0" nillable="true">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="64"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
			  
			  <xs:element name="ind4" minOccurs="0" nillable="true">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="64"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
			  
			  <xs:element name="ind5" minOccurs="0" nillable="true">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="64"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
			  
			  <xs:element name="ind6" minOccurs="0" nillable="true">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="64"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
			  
			  <xs:element name="ind7" minOccurs="0" nillable="true">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="64"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
			  
			  <xs:element name="ind8" minOccurs="0" nillable="true">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="64"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
			  
			  <xs:element name="ind9" minOccurs="0" nillable="true">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="64"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
			
            </xs:all>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>