AcinoxXML2/XSD/partcomps.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="partcomps">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" nillable="true" name="partc">
          <xs:complexType>
            <xs:all>
              
              <xs:element name="codcli">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="64"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              
              <xs:element name="ndoc">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="64"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              
              <xs:element name="nvcto" minOccurs="0" nillable="true">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="64"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              
              
              <xs:element name="fchemi" type="xs:date" minOccurs="0" nillable="true"/>
              <xs:element name="fchvcto" type="xs:date" minOccurs="0" nillable="true"/>
              <xs:element name="fchcomp" type="xs:date" minOccurs="0" nillable="true"/>
              <xs:element name="importe" type="xs:decimal" />              
                            
              <xs:element name="marca" minOccurs="0" nillable="true">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="255"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              
              <xs:element name="reg" type="xs:unsignedByte" minOccurs="0" nillable="true" />
              
              <xs:element name="impmondoc" type="xs:decimal" minOccurs="0" nillable="true"/>
              
              <xs:element name="codmondoc" minOccurs="0" nillable="true">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="32"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              
               <xs:element name="ind1" minOccurs="0" nillable="true">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="64"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              
              <xs:element name="ind2" minOccurs="0" nillable="true">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="64"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              
              <xs:element name="ind3" minOccurs="0" nillable="true">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="64"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              
              <xs:element name="tdoc">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="32"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              
              <xs:element name="campoid">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="255"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              
              <xs:element name="codejercicio" minOccurs="0" nillable="true">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="10"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              
              <xs:element name="codejerciciocomp" minOccurs="0" nillable="true">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="10"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
			  
			  <xs:element name="numdoccobro" minOccurs="0" nillable="true">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="255"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            
              <xs:element name="numdocorigen" minOccurs="0" nillable="true">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="64"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
			    
			  <xs:element name="ind4" minOccurs="0" nillable="true">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="64"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
			  
			  <xs:element name="ind5" minOccurs="0" nillable="true">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="64"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
			  
			  <xs:element name="ind6" minOccurs="0" nillable="true">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="64"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
			  
			  <xs:element name="ind7" minOccurs="0" nillable="true">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="64"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
			  
			  <xs:element name="ind8" minOccurs="0" nillable="true">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="64"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
			  
			  <xs:element name="ind9" minOccurs="0" nillable="true">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="64"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
			
            </xs:all>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>